<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Albums</title>
	<!-- CDN Boostrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ​></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'base' %}">ALBUM</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'category-list' %}">Category <span class="sr-only">(current)</span></a></li>
					<li><a href="{% url 'photo-list' %}">Photo</a></li>
					{% if user.is_authenticated %}
					<li><a href="#">Logged as <strong>{{ user.username }}</strong></a></li>
					<li><a href="{% url 'user-options' %}"><strong>User Options</strong></a></li>
					{% else %}
					<li><a href="{% url 'login' %}">Login</a></li>
					<li><a href="{% url 'login' %}">Create Account</a></li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Action <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{% url 'photo-create' %}">Upload</a></li>
							<li class="divider"></li>
							<li><a href="{% url 'logout' %}">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
		{% block section %}
		{% endblock section %}
	</div>

	<div class="container">
		{% block maincontent %}
		{% endblock maincontent %}
	</div>

	{% if image_count %}
		<div class="card text-center">
			<i class="fa fa-picture-o fa-5x"></i>
			<h3 class="count-title count-number">{{image_count}}</h3>
			<p>Images in album</p>
		</div>
	{% endif %}
</body>
</html>