

	<h1>Juan's PhotoAlbum</h1>
	<ul>
		<li><a href="{% url 'category-list' %}">Categories</a></li>
		<li><a href="{% url 'photo-list' %}">Photos</a></li>
		<li><a href="{% url 'photo-create' %}">Upload</a></li>
	</ul>
	<hr>
	<div>
		{% block section %}
		{% endblock section %}
	</div>
	<div>
		{% block maincontent %}
		{% endblock maincontent %}
	</div>
</body>
</html>