<!-- templates/registration/login.html -->
{% extends 'base_generic.html' %}
{% block section %}
<h2 class="text-center">Juan Pablo's Album</h2>
<hr>
{% endblock section %}

{% block maincontent %}

<div class="row">
    <div class="col-md-4" style="float: none; margin: 0 auto;">
        <div class="card" style="width: 18rem;">
            <h3 class="card-title text-center">Log-in</h3>
            <img class="card-img-top" src="/static/login.png" style="width: 10rem; float: none; margin: 0 auto;">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group text-center">
                        {{ form.username.label }}
                        {{ form.username }}
                    </div>
                    <div class="form-group text-center">
                        {{ form.password.label }}
                        {{ form.password }}
                    </div>
                    <div class="col-md-4" style="float: none; margin: 0 auto; ">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                    <div class="col-md-12 text-center" ">
                        <a href='{% url "create-user" %}'>Create new user</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}