{% extends 'base_generic.html' %}
{% load static %}

{% block section %}
<hr>
<h2>User Creation</h2>
{% endblock section %}

{% block maincontent %}
<div class="card">
    <form class="site-form" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>
{% endblock maincontent %}