{% extends 'base.html' %}
{% load static %}

{% block section %}
<h1>Photo list</h1>
<h2> {{ object.name }} </h2>
<hr>
{% endblock section %}

{% block maincontent %}
<div>
	<table border="1px">
		<tr>
			{% for p in object.photo_set.all %}
			<td>
				<div>{{ p.tittle }}</div>
				<div>
					<a href="{% url 'photo-detail' p.id %}">
					<img src="{% static p.photo.url %}" alt="{{ p.tittle }}" style="width:200px;height: 200px;"></a>
				</div>
			</td>
			{% endfor %}
		</tr>
	</table>
</div>
{% endblock maincontent %}

