{% extends 'base.html' %}

{% load static %}

{% block section %}
    <h2>Photo</h2> 
    <hr>
{% endblock section %}

{% block maincontent %}
    <div class="row well">
        {% for p in object_list.all %}
            <div class="col-md-4 well">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ p.tittle }}</h3>
                    </div>
                    <div class="panel-body">
                        <a href="{% url 'photo-detail' p.id %}">
                            <img src="{% static p.photo.url %}" style="width:200px;height:200px;"/>
                        </a>
                    </div>
                    <div class="panel-footer">
                        {% if p.comment %}
                            {{ p.comment }}
                        {% else %}
                            <a href="{% url 'photo-update' p.id %}">edit comments</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock maincontent %}