{% extends 'base.html' %}

{% block maincontent %}
	<form action="" method="post">{% csrf_token %}
	<p>Delete "{{ object.tittle }}"?</p>
	<input type="submit" value="Confirm"/>
	<a class='btn' href="{% url 'photo-list' %}">Cancel</a>
	</form>
{% endblock maincontent %}