{% extends 'base.html' %}
{% load static %}

{% block section %}
<h2>
    User Options
</h2>
<hr>
{% endblock section %}

{% block maincontent %}
<div>
    <ul>
        <li><a href='{% url "password_reset" %}'>Password reset</a></li>
        <li><a href='{% url "password_change" %}'>Password Change</a></li>
    </ul>
</div>
{% endblock maincontent %}
